In [1]:
import numpy as np

In [4]:
a = np.char.add(["Muhammed " , "Ahmed "] , ["Essa" , "Hameed"])

In [5]:
print(a)

['Muhammed Essa' 'Ahmed Hameed']

In [7]:
b = np.char.multiply( "Muhammed " ,   4 )

In [8]:
print(b)

Muhammed Muhammed Muhammed Muhammed

In [9]:
c = np.char.capitalize( "muhammed essa hameed "   )

In [10]:
print(c)

Muhammed essa hameed

In [11]:
d = np.char.title( "muhammed essa hameed "   )

In [12]:
print(d)

Muhammed Essa Hameed

In [13]:
e = np.char.lower( "MUHAMMED ESSA HAMEED "   )

In [14]:
print(e)

muhammed essa hameed

In [16]:
f = np.char.upper( "muhammed essa hameed "   )

In [17]:
print(f)

MUHAMMED ESSA HAMEED

In [20]:
g = np.char.split( "muhammed essa hameed" , sep=" "   )

In [21]:
print(g)

['muhammed', 'essa', 'hameed']

In [22]:
print(type(g))

<class 'numpy.ndarray'>

In [23]:
h = np.char.join( " - " ,  "Muhammed Essa"   )

In [24]:
print(h)

M - u - h - a - m - m - e - d -   - E - s - s - a

In [25]:
mystr = "Muhammed Essa"

In [26]:
print(mystr)

Muhammed Essa

In [27]:
i = np.char.replace(mystr , "Essa" , "Hameed")

In [28]:
print(i)

Muhammed Hameed