In [1]:
import numpy as np

In [5]:
employee_info = [('name','S10') ,('salary','f8') ,('age','i8')   ]

In [6]:
employee_info

[('name', 'S10'), ('salary', 'f8'), ('age', 'i8')]

In [7]:
emplyees_staff = np.zeros((3), dtype = employee_info)

In [8]:
emplyees_staff

array([(b'', 0., 0), (b'', 0., 0), (b'', 0., 0)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [9]:
emplyees_staff[2] = ('Muhammed' , 3000 , 36)

In [11]:
emplyees_staff[1] = ('Ahmed' , 6000 , 26)

In [12]:
emplyees_staff

array([(b'',    0.,  0), (b'Ahmed', 6000., 26), (b'Muhammed', 3000., 36)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [13]:
emplyees_staff[0:]

array([(b'',    0.,  0), (b'Ahmed', 6000., 26), (b'Muhammed', 3000., 36)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [14]:
emplyees_staff[1:]

array([(b'Ahmed', 6000., 26), (b'Muhammed', 3000., 36)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [17]:
salary = emplyees_staff['salary']

In [21]:
age = emplyees_staff['age']

In [18]:
add_salary = salary +2000

In [19]:
add_salary

array([2000., 8000., 5000.])

In [22]:
add_age = age + 3

In [23]:
add_age

array([ 3, 29, 39])

In [24]:
emplyees_staff

array([(b'',    0.,  0), (b'Ahmed', 6000., 26), (b'Muhammed', 3000., 36)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [25]:
all_employees =  np.zeros((4,3,2), dtype = employee_info)

In [26]:
all_employees

array([[[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [27]:
all_employees['name']

array([[[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']]], dtype='|S10')

In [28]:
all_employees['age']

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]]])

In [29]:
all_employees['salary']

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [30]:
all_employees

array([[[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [38]:
all_employees[0,0,1] = ('Muhammed' , 3000 , 36)

In [39]:
all_employees

array([[[(b'',    0.,  0), (b'Muhammed', 3000., 36)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [40]:
all_employees[1,1,0] = ('Essa' , 4000 , 22)

In [41]:
all_employees

array([[[(b'',    0.,  0), (b'Muhammed', 3000., 36)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'Essa', 4000., 22), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [42]:
all_employees[2,2,1] = ('Ahmed' , 7000 , 30)

In [43]:
all_employees

array([[[(b'',    0.,  0), (b'Muhammed', 3000., 36)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'Essa', 4000., 22), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'Ahmed', 7000., 30)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [44]:
all_employees[3,2,0] = ('Osama' , 12000 , 39)

In [45]:
all_employees

array([[[(b'',     0.,  0), (b'Muhammed',  3000., 36)],
        [(b'',     0.,  0), (b'',     0.,  0)],
        [(b'',     0.,  0), (b'',     0.,  0)]],

       [[(b'',     0.,  0), (b'',     0.,  0)],
        [(b'Essa',  4000., 22), (b'',     0.,  0)],
        [(b'',     0.,  0), (b'',     0.,  0)]],

       [[(b'',     0.,  0), (b'',     0.,  0)],
        [(b'',     0.,  0), (b'',     0.,  0)],
        [(b'',     0.,  0), (b'Ahmed',  7000., 30)]],

       [[(b'',     0.,  0), (b'',     0.,  0)],
        [(b'',     0.,  0), (b'',     0.,  0)],
        [(b'Osama', 12000., 39), (b'',     0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [46]:
all_employees['name']

array([[[b'', b'Muhammed'],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'Essa', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'Ahmed']],

       [[b'', b''],
        [b'', b''],
        [b'Osama', b'']]], dtype='|S10')

In [47]:
all_employees['salary']

array([[[    0.,  3000.],
        [    0.,     0.],
        [    0.,     0.]],

       [[    0.,     0.],
        [ 4000.,     0.],
        [    0.,     0.]],

       [[    0.,     0.],
        [    0.,     0.],
        [    0.,  7000.]],

       [[    0.,     0.],
        [    0.,     0.],
        [12000.,     0.]]])

In [48]:
all_employees['age']

array([[[ 0, 36],
        [ 0,  0],
        [ 0,  0]],

       [[ 0,  0],
        [22,  0],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 0, 30]],

       [[ 0,  0],
        [ 0,  0],
        [39,  0]]])

In [50]:
all_employees[ ['name','age']]

array([[[(b'',  0), (b'Muhammed', 36)],
        [(b'',  0), (b'',  0)],
        [(b'',  0), (b'',  0)]],

       [[(b'',  0), (b'',  0)],
        [(b'Essa', 22), (b'',  0)],
        [(b'',  0), (b'',  0)]],

       [[(b'',  0), (b'',  0)],
        [(b'',  0), (b'',  0)],
        [(b'',  0), (b'Ahmed', 30)]],

       [[(b'',  0), (b'',  0)],
        [(b'',  0), (b'',  0)],
        [(b'Osama', 39), (b'',  0)]]],
      dtype={'names':['name','age'], 'formats':['S10','<i8'], 'offsets':[0,18], 'itemsize':26})

In [51]:
all_employees[ ['name','salary']]

array([[[(b'',     0.), (b'Muhammed',  3000.)],
        [(b'',     0.), (b'',     0.)],
        [(b'',     0.), (b'',     0.)]],

       [[(b'',     0.), (b'',     0.)],
        [(b'Essa',  4000.), (b'',     0.)],
        [(b'',     0.), (b'',     0.)]],

       [[(b'',     0.), (b'',     0.)],
        [(b'',     0.), (b'',     0.)],
        [(b'',     0.), (b'Ahmed',  7000.)]],

       [[(b'',     0.), (b'',     0.)],
        [(b'',     0.), (b'',     0.)],
        [(b'Osama', 12000.), (b'',     0.)]]],
      dtype={'names':['name','salary'], 'formats':['S10','<f8'], 'offsets':[0,10], 'itemsize':26})